@font-face {
  font-family: MagicCards;
  src: url('magic_cards.ttf') format('truetype');
}

.tt { font-family: monospace; }
.mc { font-family: MagicCards; }

#img > * {
  margin: 1px;
  vertical-align: top;
}

#file_info > p > span:not(:last-child):after {
  content: '; ';
}

#records {
  font-family: monospace;
  font-size: 8pt;
  margin: 5pt 0;
}
#records p {
  margin: 0;
}
