body { padding: 0; border: 0; margin: 8px; }
div, span { padding: 0; border: 0; margin: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.click { cursor: pointer; }

#recs_list {
  font-family: monospace;
  font-size: small;
}
#recs_list > div > div:first-child:hover {
  background-color: #F8CD4E;
  cursor: pointer;
  display: inline-block;
}
#recs_list > div > div:not(:only-child) {
  font-weight: bold;
}
