@font-face {
  font-family: MagicCards;
  src: url('magic_cards.ttf') format('truetype');
}

body { margin: 5px; }
pre { margin: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.tt { font-family: monospace; }
.mc { font-family: MagicCards; }
.bold { font-weight: bold; }
.click { cursor: pointer; }

#img > * {
  margin: 1px;
  vertical-align: top;
}

#file_info > p:nth-child(1) { margin: 2pt 0; }
#file_info > p:nth-child(2) { margin: 10pt 0; }

#main {
  font-family: sans-serif;
  font-size: 8pt;
}
#tabs {
  margin: 0 0 5px 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
#tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 8px;
  transition: 0.3s;
  font-size: 12px;
}
#tabs button:hover { background-color: #ddd; }
#tabs button.active { background-color: #ccc; }

.jourlink { color: blue; }

.ques { color: #CE5C00; }

div.row > div.inline {
  display: inline-block;
  vertical-align: top;
}
div.row > div.inline:not(:last-child) {
  margin-right: 2em;
}

p.narrow { margin: 0; }

.rec_lbl {
  display: inline-block;
  cursor: pointer;
}
.rec_lbl:hover {
  background-color: orange;
}
.rec_data {
  margin: 1px 1px 5px 1px;
  border: 1px solid #8F5902;
}
.rec_data > tr:hover {
  background-color: #FCE94F;
}
.rec_data > tr > td:first-child {
  font-family: monospace;
}
.rec_data > tr:first-child > td {
  text-decoration: underline;
}
.rec_data .raw {
  font-family: monospace;
}
.rec_data .raw span:not(:last-child) {
  margin-right: 0.5ch;
  float: left;
  width: 2ch;
}
span.ref, span.edit, span.editY, span.editN {
  margin-left: 1em;
  color: blue;
  font-weight: bold;
}
span.ref::after { content: "show"; }
span.edit::after { content: "edit"; }
span.editY::after { content: "save"; }
span.editN::after { content: "cancel"; }
.rec_data textarea {
  font-family: inherit;
  font-size: inherit;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.map > div:nth-child(2) > :not(:last-child) {
  margin-bottom: 10px;
}
